
#heroimage {
    height:200px;
}
#videomobo {
    height:170px;
}
#highlighted1 {
    height:150px;
}
#highlighted2 {
    height:150px;
}
#ingredients{
    height:100px;
}
#nutrition {
    height:100px;
}
#service1 {
    height:180px;
}
#service2 {
    height:180px;
}
#service3 {
    height:180px;
}
#service4 {
    height:180px;
}
#service5 {
    height:180px;
}
#service6 {
    height:180px;
}
#image {
    height:180px;
}
#photo1 {
    height:200px;
}
#photo2 {
    height:200px;
}
